/// Reset

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ol, ul, blockquote, p {
  margin: 0;
}

* {
  box-sizing: border-box;
  line-height: vr(1);
}

main {
  display: block;
}

/// Typography

body {
  background: $white;
  font-family: $sans-serif-ff;
  color: $darkGray;
}

h1 {
  font-size: 2.5em;
  line-height: vr(2);
  margin-bottom: vr(1);
  a {
    color: inherit;
    transition: color .9s ease;
    &:hover {
      color: hover($black);
    }
  }
}

@include print {
      // QR Code for Header
      h1::before {
        content: 'brianbaldock.com';
        position: absolute;
        right: 34px;
        top: 110px;
        font-size: 8px;
        font-weight: bold;
        z-index: 100;
      }
      h1::after {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=https://www.brianbaldock.com&choe=UTF-8);
        position: absolute;
        right: 0;
        top: 0;
    }
}

h2 {
  font-size: 2em;
  line-height: vr(2);
  margin-bottom: vr(1);
}

h3 {
  font-size: 1.5em;
  line-height: vr(2);
}

h4 {
  font-size: 1.25em;
  color: $gray;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .9em;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: vr(1);
} 

p {
  + p {
    margin-top: vr(1);
    margin-bottom: vr(1);
  }
}

small {
  font-size: .8em;
  margin-top: vr(1);
  margin-bottom: vr(1);
}

a {
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $secondary-color;
  }
}

ul,
ol {
  margin-top: vr(1);
  margin-bottom: vr(1);
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.form {
  
  &__field {
    margin-bottom: vr(1);
  }

  &__group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    .form__field {
      margin-right: 1em;
    }
  }

  &__actions {
    margin-top: vr(1);
  }

  + .form {
    margin-top: vr(3);
  }
}

label {
  display: block;
  font-size: .8em;
  font-weight: bold;
  line-height: vr(1);
}

.input {
  &--full-width {
    width: 100%;
  }
}

input {
  border: 1px solid $gray;
  border-radius: $border-radius;
  box-shadow: none;
  box-sizing: border-box;
  font-size: .9em;
  height: vr(1);
  outline: none;
  padding: 0 .5em;

  &[type=text],&[type=textarea],&[type=number],&[type=phone],&[type=email] {
    &:hover {
      border-color: $lightGray;
    }
    &:focus {
      border-color: $primary-color;
    }
  }
  &[type=radio],&[type=checkbox] {
    height: initial;
    + label {
      display: inline;
    }
  }
}

.button {
  background-color: $gray;
  border-radius: $border-radius;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  height: vr(1);
  padding: 0 2em;
  text-decoration: none;
  transition: all .3s ease;
  &:hover, &:active, &:focus {
    background-color: hover($gray);
  }
  &--cta {
    background-color: $primary-color;
    &:hover,&:active,&:focus {
      background-color: hover($primary-color);
    }
  }
  + .button {
    margin-right: 1em;
  }
}