$site-class: '.site' !default;

@mixin site {
    &__wrapper {
        display: grid;
        grid-gap: vr(2);
        grid-template:
                    "logo logo content"
                    "navigation contact content"
                    "footer footer footer";
        grid-template-columns: minmax(0, .75fr) 0fr minmax(0, 2fr);
        grid-template-rows: 150px 0fr 0fr;
        grid-auto-columns: 1fr;
        @include tablet {
            grid-template: "logo navigation"
                           "content content"
                           "contact contact"
                           "footer footer"
        }
        @include mobile {
            grid-template:  "logo"
                            "navigation"
                            "content"
                            "contact"
                            "footer";
        }
        @include print {
            grid-template:  "logo"
                            "content"
                            "footer";
        }
    }
    
    &__logo {
        grid-area: logo;
        background-color: $black;
    }

    &__navigation {
        grid-area: navigation;
    }

    &__content {
        grid-area: content;
    }

    &__contact {
        grid-area: contact;
    }

    &__footer {
        grid-area: footer;
    }
}

@mixin bb-site {
    #{$site-class} {
        @include site;
    }
}

@include bb-site;


